<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MoveUp"
        android:usesCleartextTraffic="true" >
        <activity
            android:name=".AItalk"
            android:exported="false"
            android:theme="@style/Theme.MoveUp" />
        <activity android:name=".PostDetailActivity" />
        <activity
            android:name=".Find"
            android:exported="false" />
        <activity
            android:name=".Plan_details"
            android:exported="false" />
        <activity
            android:name=".mine_edit"
            android:exported="false" />

        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="b4050fdb3dbe2c1d452da34b6b8f79cc" />

        <service android:name="com.amap.api.location.APSService" />

        <activity
            android:name=".Plan"
            android:exported="false" />
        <activity
            android:name=".clubterm"
            android:exported="false" />
        <activity
            android:name=".Edit"
            android:exported="false" />
        <activity
            android:name=".Mine"
            android:exported="false" />
        <activity
            android:name=".Runing"
            android:exported="false" />
        <activity
            android:name=".History"
            android:exported="false" />
        <activity
            android:name=".Main"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="false" />
        <activity
            android:name=".Register"
            android:exported="false" />
        <activity
            android:name=".Start"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>